.notification {
  border: 2px solid;
  border-radius: 4px;
  padding: 8px;
  margin: 12px 0;
}

.notification.success {
  color: #236626;
  background-color: #E9F0E9;
  border-color: #236626;
}

.notification.error {
  color: #B60202;
  background-color: #F8E6E6;
  border-color: #B60202;
}